.hem-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}
.hem-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.hem-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.hem-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.hem-container01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hem-image {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
}
.hem-textinput {
  width: 100%;
  max-width: var(--dl-size-size-xxlarge);
  transition: 0.3s;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.hem-textinput:hover {
  border-color: var(--dl-color-pallet-yellow);
}
.hem-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.hem-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.hem-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.hem-icons {
  display: flex;
}
.hem-image1 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.hem-image2 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.hem-image3 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.hem-burger-menu {
  display: none;
}
.hem-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.hem-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.hem-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hem-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.hem-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.hem-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hem-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.hem-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.hem-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.hem-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.hem-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.hem-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.hem-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.hem-text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.hem-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.hem-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.hem-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.hem-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.hem-hero {
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-pallet-green);
}
.hem-max-width {
  max-width: 1032px;
}
.hem-hero1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.hem-container03 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.hem-info {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-threeunits);
}
.hem-image4 {
  width: 2px;
  height: 52px;
  margin: 0 14px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
}
.hem-text12 {
  color: var(--dl-color-gray-black50);
  font-size: 12px;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}
.hem-text16 {
  max-width: 450px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.hem-container04 {
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: row;
}
.hem-text17 {
  color: var(--dl-color-gray-black80);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-right: 4px;
  letter-spacing: 0.1em;
}
.hem-text18 {
  color: var(--dl-color-gray-black80);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.hem-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.hem-navlink {
  text-decoration: none;
}
.hem-image5 {
  width: 100%;
  position: relative;
  max-width: 579px;
  box-sizing: border-box;
  max-height: 579px;
  object-fit: cover;
  border-color: transparent;
}
.hem-cards-container {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  grid-gap: var(--dl-space-space-twounits);
  flex-wrap: wrap;
  max-width: 1080px;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: space-between;
}
.hem-banner {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-950);
}
.hem-container05 {
  flex: 0 0 auto;
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.hem-text21 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.hem-text22 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.hem-text24 {
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1em;
  text-transform: uppercase;
}
.hem-container06 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hem-container07 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 770px;
  box-sizing: border-box;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.hem-text27 {
  color: var(--dl-color-gray-black80);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Jost;
  font-weight: 400px;
  line-height: 175%;
  font-stretch: normal;
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.hem-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.hem-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.hem-container08 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.hem-text48 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.hem-text49 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.hem-text50 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
.hem-text51 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
.hem-links-container {
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.hem-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.hem-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.hem-text52 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.hem-text53 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.hem-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.hem-text55 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.hem-navlink1 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.hem-text56 {
  margin-bottom: var(--dl-space-space-unit);
}
.hem-text58 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.hem-text61 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.hem-text62 {
  margin-bottom: var(--dl-space-space-unit);
}
.hem-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.hem-text64 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.hem-text65 {
  margin-bottom: 44px;
}
.hem-text67 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.hem-text68 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.hem-text69 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.hem-text70 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .hem-container01 {
    display: none;
  }
  .hem-left {
    display: none;
  }
  .hem-right {
    display: none;
  }
  .hem-icons {
    display: none;
  }
  .hem-burger-menu {
    display: flex;
  }
  .hem-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .hem-logo-center1 {
    margin-left: 0px;
  }
  .hem-hero1 {
    flex-direction: column;
  }
  .hem-container03 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .hem-text16 {
    text-align: center;
  }
  .hem-text24 {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 1em;
    text-transform: uppercase;
  }
  .hem-text27 {
    color: var(--dl-color-gray-black80);
    font-size: 16px;
    font-style: normal;
    font-family: Jost;
    line-height: 175%;
    text-decoration: none;
  }
  .hem-text28 {
    letter-spacing: 2px;
  }
  .hem-text34 {
    color: var(--dl-color-gray-black80);
    font-size: 16px;
    font-style: normal;
    font-family: Jost;
    line-height: 175%;
    text-decoration: none;
  }
  .hem-text37 {
    color: var(--dl-color-gray-black80);
    font-size: 16px;
    font-style: normal;
    font-family: Jost;
    line-height: 175%;
    text-decoration: none;
  }
  .hem-text40 {
    color: var(--dl-color-gray-black80);
    font-size: 16px;
    font-style: normal;
    font-family: Jost;
    line-height: 175%;
    text-decoration: none;
  }
  .hem-text43 {
    color: var(--dl-color-gray-black80);
    font-size: 16px;
    font-style: normal;
    font-family: Jost;
    line-height: 175%;
    text-decoration: none;
  }
  .hem-footer1 {
    flex-direction: column-reverse;
  }
  .hem-text49 {
    color: var(--dl-color-gray-black50);
  }
  .hem-text50 {
    color: var(--dl-color-gray-black50);
  }
  .hem-text51 {
    color: var(--dl-color-gray-black50);
  }
  .hem-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .hem-text52 {
    line-height: 14px;
  }
  .hem-text53 {
    color: var(--dl-color-gray-black50);
  }
  .hem-text54 {
    color: var(--dl-color-gray-black50);
  }
  .hem-text55 {
    line-height: 14px;
  }
  .hem-navlink1 {
    color: var(--dl-color-gray-black50);
    text-decoration: none;
  }
  .hem-text58 {
    color: var(--dl-color-gray-black50);
  }
  .hem-text61 {
    color: var(--dl-color-gray-black50);
  }
  .hem-text64 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
  }
  .hem-text67 {
    color: var(--dl-color-gray-black50);
  }
  .hem-text68 {
    color: var(--dl-color-gray-black50);
  }
  .hem-text69 {
    color: var(--dl-color-gray-black50);
  }
}
@media(max-width: 767px) {
  .hem-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hem-main {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .hem-hero {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .hem-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .hem-cards-container {
    grid-gap: var(--dl-space-space-unit);
  }
  .hem-text27 {
    max-width: 770px;
  }
  .hem-footer1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .hem-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .hem-container {
    padding-top: 55px;
  }
  .hem-header {
    padding: var(--dl-space-space-unit);
  }
  .hem-mobile-menu {
    padding: 16px;
  }
  .hem-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .hem-container03 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .hem-text12 {
    color: var(--dl-color-gray-black50);
  }
  .hem-text17 {
    color: var(--dl-color-gray-black80);
  }
  .hem-text18 {
    color: var(--dl-color-gray-black80);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }
  .hem-btn-group {
    flex-direction: column;
  }
  .hem-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .hem-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .hem-container10 {
    margin-right: var(--dl-space-space-unit);
  }
  .hem-text53 {
    color: var(--dl-color-gray-black50);
  }
  .hem-container11 {
    margin-right: var(--dl-space-space-unit);
  }
}
